/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 980px;
$footerheight: 50px;

/* Colors */
$red:  #F1625e;
$yellow: #F4E303;
$blue: #BCE0E5;
$light-gray: #DBD7D3;
$medium-gray: #828175;
$dark-gray: #4C4B4C;
$orange: #F47F50;
$dark-yellow: #D4DC4C;

$text: $dark-gray;
$links: $dark-gray;
$hover: $medium-gray;

$bg: #FFF;

/* Fonts */
$main: 'Lato', sans-serif; /* Lato Light, Bold, */
$header-pri: 'walkway_boldregular', sans-serif; /* WalkwayBold Regular */
$header-sec: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Borders */
$border: 1px solid $medium-gray;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
$xs: 500px;