#copyright {
	text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: .3em;
  display: table;
  width: 100%;
  margin: 0;
}

.footer-slider-outer {
  background: #F2F3F3;
  padding-top: 2.5%;
  padding-bottom: 6%;
}

#footer{
  background: $blue;
  padding: 5%;
}

.footer-item-center {
  display:table-cell;
  vertical-align:middle;
  float: none !important;
  padding: 0 !important;
}

#menu-footer-menu a {
  color: white;
}

.footer-header {
  position: relative;

  h3 {
    margin-bottom: 2.5%;
    font-size: .95em;
  }

  .bottom-slider-nav {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
  }
}

.credits {
  font-size: 0.6em;
  a {
    color: white;
    letter-spacing: .5em;
  }
}

@media all and (min-width: 1050px) and (max-width: 1200px)  { 
  .footer-item-center:nth-child(2) {
    width: 20%;
  }

  .footer-item-center:nth-child(2n+1) {
    width: 40%;
  }
}

@media all and (max-width: 1050px)  { 
  .footer-item-center {
    display: block;
    width: 100% !important;
  }

  .footer-item-center:nth-child(2) {
    margin: 5% 0;
  }
}

@media all and (max-width: 410px)  { 
  #menu-footer-menu li {
    display: block;
  }

  #menu-footer-menu li::before {
    content: '';
    margin-right: 0;
  }
}