#copyright {
	text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: .3em;
  display: table;
  width: 100%;
}

.footer-slider-outer {
  background: #F2F3F3;
  padding-top: 2.5%;
  padding-bottom: 6%;
}

#footer{
  background: $blue;
  padding: 5%;
}

.footer-item-center {
  display:table-cell;
  vertical-align:middle;
  float: none !important;
  padding: 0 !important;
}

#menu-footer-menu a {
  color: white;
}

.footer-header {
  position: relative;

  h3 {
    margin-bottom: 2.5%;
    font-size: .95em;
  }

  .bottom-slider-nav {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
  }
}