#site-header {
	margin-bottom: 45px;
	position: relative;
	z-index: 250;
	.logo {
		
	}
	img {
		height: auto;
	}
}

.top-slider .item .hover-image:last-child {
  display: none;
}

.top-slider .item:hover .hover-image:first-child {
  display: none;
}

.top-slider .item:hover .hover-image:last-child {
  display: inline-block;
}

@media all and (max-width: 992px)  { 
  #site-header .logo img{
    width: 75%;
  }

  .shop-circle a img {
    width: 15%;
  }

  #site-header .header .logo img {
    margin-top: 2% !important;
  }
}

@media all and (max-width: 500px)  { 
  #site-header .logo img{
    width: 100%;
  }

  .shop-circle a img {
    width: 25%;
  }
}


