/*.access {
	margin: 0;
	div {
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	ul {
		clear: left;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 10px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;
				// uncomment if you want dividers
				// &:after {
				// 	content: '/';
				// 	color: $text;
				// }
				&:hover,
				&:focus {
					color: $hover;
				}
			}
			// &:last-of-type a:after {
			// 	content: none;
			// }
		}
		
		
	}
	
} */

.social-media-menu {
	li {
		list-style: none;
		display: inline-block;

		a {
			color: $medium-gray;
		}
	}
}

.square-icons {
	i.fa-facebook {
    background: $red;
	}

	i.fa-instagram {
    background: $dark-yellow;
	}

	i.fa-pinterest-p {
    background: $light-gray;
	}

	i.fa-twitter, i.fa-youtube-play {
    background: $orange;
	}
}

.widget-icons {
	i {
		color: white;
		padding: 15px 14px 15px 17px;
    font-size: 2em;
	}

	i.fa-facebook {
		padding-left: 20px;
    padding-right: 17px;
	}

	i.fa-instagram {
		padding: 15px 13px 15px 17px;
	}

	i.fa-pinterest {
		padding: 15px 14px 15px 17px;
	}

	i.fa-youtube-play {
		padding: 15px 13px 15px 14px;
	}
}

.comment-icons {
	i {
		color: white;
		padding: 7px 7px 7px 8px;
    font-size: 1.2em;
	}
	i.fa-facebook {
		padding: 7px 8px 7px 9px;
	}
	i.fa-instagram {
		padding: 7px 5px 7px 9px;
	}
	i.fa-pinterest {
		padding: 7px 6px 7px 8px;
	}
	i.fa-twitter {
		padding: 7px 4px 7px 8px;
	}
}

#menu-footer-menu li::before {
  content: '\7c';
  margin-right: 1em;
}

#menu-footer-menu li:first-child::before {
  content: '';
}

#menu-footer-menu li {
  margin-right: .75em;
}

#social-header-menu {
	margin-left: -170%;
}

#social-header-menu {
	i {
		padding: .6em .1em;
		font-size: 1.35em;
	}
}

.youtube-nav a {
	background-color: $yellow !important;
}

.youtube-nav a::after {
	content: '\f16a';
  font-family: FontAwesome;
  padding-left: 5px;
  color: white;
  font-size: 1em;
}

.sub-menu {
	display: none;
}

.nav-previous, .nav-next {
	margin-bottom: 35px;
}

.filter {
	text-align: center;
}

.filter ul {
	display: inline-block;
	list-style: none;
}

.filter ul li {
	float: left;
	margin: 0 10px;
}

#post-nav-below {
	.nav-previous, .nav-next {
		float: none;
		width: 100%;
		text-align: left;
		margin-bottom: 5px;

		a {
			color: $red;
		}
	}

	h3{
		display: inline-block;
		margin-bottom: 0px;
	}
}

#menu-tutorial-categories, #menu-recipe-categories {
	.current-menu-item a {
		color: $yellow;
	}
	a {
		color: $medium-gray;
		text-transform: uppercase;
	}
}

@media all and (max-width: 1200px)  {
	#social-header-menu {
  	margin-left: -80%;
	}
}

@media all and (max-width: 992px)  {
	#social-header-menu {
  	margin-left: 0;
  	li {
  		padding: 1em 3%;
  	}
	}
}
