/*.access {
	margin: 0;
	div {
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	ul {
		clear: left;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 10px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;
				// uncomment if you want dividers
				// &:after {
				// 	content: '/';
				// 	color: $text;
				// }
				&:hover,
				&:focus {
					color: $hover;
				}
			}
			// &:last-of-type a:after {
			// 	content: none;
			// }
		}
		
		
	}
	
} */

.social-media-menu {
	li {
		list-style: none;
		display: inline-block;
	}
}

.square-icons {
	i.fa-facebook {
    background: $red;
	}

	i.fa-instagram {
    background: $dark-yellow;
	}

	i.fa-pinterest-p {
    background: $light-gray;
	}

	i.fa-twitter, i.fa-youtube-play {
    background: $orange;
	}
}

.widget-icons {
	i {
		color: white;
		padding: 15px;
    font-size: 2em;
	}

	i.fa-facebook {
		padding-left: 19px;
    padding-right: 16px;
	}
}

.comment-icons {
	i {
		color: white;
		padding: 7px;
    font-size: 1.2em;
	}
}

#menu-footer-menu li::before {
  content: '\7c';
  margin-right: 1em;
}

#menu-footer-menu li:first-child::before {
  content: '';
}

#menu-footer-menu li {
  margin-right: .75em;
}

#social-header-menu {
	margin-left: -60%;
}

#social-header-menu {
	i {
		padding: .6em .1em;
		font-size: 1.35em;
	}
}

.youtube-nav a {
	background-color: $yellow !important;
}

.youtube-nav a::after {
	content: '\f16a';
  font-family: FontAwesome;
  padding-left: 5px;
  color: white;
  font-size: 1em;
}

.nav-previous, .nav-next {
	margin-bottom: 35px;
}

@media all and (max-width: 992px)  {
	#social-header-menu {
  	margin-left: 0;
	}
}
