.about-grid {
  column-count: 2;
  column-gap: 1em;
  padding: 20px 0;
  float: left;
}

.about-grid p {
  margin-bottom: 0;
}

.about-box { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  padding: 25px;
  border: 2px $light-gray solid;
}

@media all and (max-width: 550px)  { 
  .about-grid {
    column-count: 1;
    column-gap: 0;
  }
}