.single-product {
  div.product {
    .images {
      .thumbnails {
        a.zoom {
          width: 27.8%;
          margin-right: 8.28%;
        }
      }
    }
  }
}

.single-product div.product .images {
  width: 50%;
}

.single-product div.product .summary {
  width: 44%;
}

.widget_product_categories ul li.current-cat:before {
  content: none;
}

.widget_product_categories ul li:before {
  content: none;
}

/* Mini-Cart */
.product_list_widget {
  li img {
    float: left;
    margin-right: 0;
    max-width: 25%;
  }
  .quantity {
    text-align: right;
  }

  a:nth-child(2) {
    float: right;
    position: relative;
    text-align: right;
  }

  a {
    text-transform: uppercase;
  }
}

.single .woocommerce.widget_shopping_cart {
  margin-top: 0px;
}

.widget.woocommerce {
  margin-top: 35px;

  h3{
    border-bottom: $border;
    text-align: left;
    padding-bottom: 12px;
  }

  .button {
    background-color: $yellow;
    text-transform: uppercase;
    padding: 5%;
    font-weight: bold;
  } 
}

.wc-forward:after {
  content: "";
}

.woocommerce {
  #secondary {
    padding: 0 50px 0 15px;
  }
  .page-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .products {
    h3 {
      margin-bottom: 5px;
    }
    .price {
      color: red !important;
    }
  }
  #primary {
    margin-top: 30px;
  }
  h1.product_title {
    margin-top: 0;
    line-height: 1em;
    font-size: 1.8em;
  }
  .product-name a {
    text-transform: uppercase;
  }
  .cart_totals h2{
    font-family: $header-pri;
  }
}

.order-again {
  .button {
    background-color: $yellow;
    padding: 15px 20px;
    text-transform: uppercase;
  }
}

.single.woocommerce #site-header, .woocommerce-page #site-header {
  margin-bottom: 0;
}

.woocommerce-page .entry-title {
  font-size: 1.83em;
}

.widget_product_categories .product-categories li a {
  text-transform: uppercase;
}

.woocommerce-breadcrumb {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .25em;
}

#billing_email_field {
  clear: both;
  width: 100%;
}

/* Product */
.woocommerce .product .summary {
  a {
    color: #89d0d2;
    letter-spacing: .15em;
  }
}

/* Top Slider */
.shop-slider {
  display: none;
  margin-top: 25px;
  z-index: -1;

  .owl-controls {
    position: static;
  }

  .owl-nav div {
    position: absolute;
    top: 45%;
    z-index: 10;
  }

  .owl-next, .owl-prev {
    width: 32px;
    height: 60px;
    background-repeat: no-repeat;
  }

  .owl-next {
    right: 12px;
    padding-right: 20px;
    background-image: url('assets/images/left-arrow-white.png');
  }

  .owl-prev {
    margin-left: 12px;
    background-image: url('assets/images/right-arrow-white.png');
  }
}

.post-type-archive.woocommerce .woocommerce-breadcrumb{
  display: none;
}

.archive .widget_shopping_cart {
  margin-top: 65px;
}

.related.products h1 {
  text-align: center;
  padding: 1em 0;
  border-top: $border;
}

.single-product div.product form.cart {
  border: none;
  padding: 0 0 1.618em 0;
}

.single-product div.product form.cart .button {
  padding: 5%;
  width: 100%;
  background: $yellow;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .25em;
}

.shop_table input.button {
  background: $yellow;
  padding: 5px 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.wc-proceed-to-checkout .button.checkout-button, #place_order {
  font-size: 1.387em;
  text-transform: uppercase;
  padding: 5px;
  background: $yellow;
  font-weight: 700;
  letter-spacing: .1em;
}

.checkout_coupon .button {
  background: $yellow;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 10px;
}

#order_review, #order_review_heading {
  padding: 15px;
  border-color: $red;
}

.woocommerce-info a, .about_paypal {
  letter-spacing: .5px;
}

.woocommerce .edit-address .button{
  background: $yellow;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 10px;
}

table.cart .product-thumbnail {
  display: table-cell;
  width: 80px;
  padding-right: 30px;
}

.widget-area .widget a:hover, .product_list_widget a:hover {
  color: $hover;
}

.woocommerce-message, .woocommerce-noreviews, p.no-comments {
  background-color: $green;
}

.woocommerce-error {
  background-color: $red;
}

.woocommerce-info {
  background-color: $blue;
}

#order_review, #order_review_heading {
  border-color: $red;
}

.woocommerce-error a, .woocommerce-info a, .woocommerce-message a, .woocommerce-noreviews a, p.no-comments a {
  letter-spacing: 0;
}

.woocommerce .return-to-shop .wc-backward{
  padding: 15px;
  background-color: $yellow;
  text-transform: uppercase;
}

.widget_shopping_cart .product_list_widget li {
  padding-left: 0;
}

.mini_cart_item a div {
  text-align: right;
}

@media all and (max-width: 992px) {
  .widget.woocommerce .button {
    padding: 1%;
  }
}

@media all and (max-width: 770px)  { 
  .single-product div.product {
    .images {
      width: 100%;
    }

    .summary {
      width: 100%;
    }
  }
}

@media all and (max-width: 480px)  { 
  .woocommerce #primary {
     margin-top: 0px;
  }
}
