#comments-title {
	padding: 0 0 2.6em;
}
.nopassword,
.nocomments {
	color: $text;
	font-size: 24px;
	margin: 26px 0;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 100%;
	> li.comment {
		position: relative;
	}
	.pingback {
		margin: 0 0 10px;
		padding: 10px;
	}
	.children {
		list-style: none;
		margin: 0 0 10px 20px;
		.children {
			margin: 10px 0 10px 10px;
		}
		li.comment {
			position: relative;
		}
	}
}

article.comment {
	padding: 10px 0;
}
.comment-meta {
	margin-bottom: 12px;
	.fn,
	time {
    text-transform: lowercase;
		font-style: normal;
		display: block;
		clear: right;
		color: $text;
	}
}
.comment-meta {
  .fn {
    display: inline;
  }
}
.avatar {
	float: left;
	padding-right: 10px;
	vertical-align: bottom;
}

.comment-content {
	p {
		margin-bottom: 1em;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

#respond .comment-form-author {
  float: left;
  width: 48%;
  margin-right: 2% !important;

  input{
    width: 100% !important;
  }
}

#respond .comment-form-email {
  float: left;
  width: 50%;

  input {
    width: 100% !important;
  }
}

/* Post author highlighting */
.commentlist > li.bypostauthor, 
.commentlist .children > li.bypostauthor{
  //border: $border;
  padding: 5px 10px;
}

.comments-footer {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  
  li {
    list-style: none;
    display: inline-block;
    letter-spacing: .25em;
    line-height: 1;
  }

  li:last-child {
    //vertical-align: middle;
  }
}

#social-share-menu {
  vertical-align: middle;
  margin-left: -5px;
  
  li {
    padding-left: 5px;
  }
}

.comments-link {
	border-right: $border;
	padding-right: 10px;
  padding-left: 10px;
}

.comment-link:first-child{
  padding-left: none;
}

.share-love {
	padding: 0 10px;
}

.share-love-icon {
  vertical-align: middle;
}

.comment-form-title {
  margin-bottom: 30px;
}

.comment-author, .comment-author a {
  text-transform: uppercase;
  letter-spacing: .25em;
  color: $yellow;
}

.comment-reply-link {
  text-transform: uppercase;
}

.comment hr {
  margin: 1em 0;
}

li.bypostauthor > .comment > .comment-meta > .comment-author > .fn > span.comment-author::before {
  content: '\f004';
  font-family: FontAwesome;
  padding-right: 5px;
  color: $red;
  font-size: 1em;
}

li.bypostauthor > .comment > .comment-meta > .comment-author > .fn > span.comment-author {
  color: $red;
}

.commentlist li .commentnumber  {
  font-size: 1em !important;
  color: #F4E303 !important;
  padding: 0 0 .5em 0 !important;
}

.commentlist li.bypostauthor .commentnumber, .commentlist li.bypostauthor .comment-author  {
  color: $red !important;
}

.comment-content {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  a {
    color: $teal;
  }
}