.entry-title,
h1.entry-title a {
	clear: both;
	color: $links;
  font-size: 1.3em;
  font-family: $header-pri;
  letter-spacing: .2em;
  color: $red;
  text-align: left
}
h4.entry-title a {
  font-size: 0.75em;
  font-family: $header-pri;
  letter-spacing: .2em;
  color: $red;
}

h1.entry-title a, h4.entry-title a {
  line-height: 1.2;
}

h4.entry-title {
  margin-top: 15px;
}

.entry-meta {
	clear: both;
}
.entry-header {
  span, span a {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 12px;
  }
  margin-bottom: 30px;
}
.entry-category {
  text-transform: uppercase;
  font-size: .83em;
  margin-top: 10px;
  line-height: 1.3;
  a {
    padding-right: 8px;
    border-right: $border;
  }
  span {
    padding-left: 8px;
  }
}
.separator {
  margin: 0 5px;
}

.grid_posts {

}
/* Handle sticky posts */
.sticky {	
}

.post-tags {
  a {
    font: 0.83em;
    text-transform: uppercase;
    letter-spacing: .25em;
    line-height: 1.67em;
  }
}

.grid_posts .grid__item {
  text-align: left;
  img {
    width: 100%;
  }
}

.related-posts {
  margin: 0 -15px;
  .column { float: left; }
  .size-1of2 { width: 50%; }
}

.related-post-item { 
  padding-right: 15px;
  .entry-category {
    text-align: center;
    span { padding: 0; }
  }
}

.related-posts[data-columns]::before {
  content: '2 .column.size-1of2';
}

/* These are the classes that are going to be applied: */


.show-more {
  text-align: center;
  margin-bottom: 50px;
}

.show-more-btn {
  background: url('assets/images/show-more.png') no-repeat;
  width: 102px;
  height: 102px;
  border: none;
}

.favorites {
  border-top: 1px solid $medium-gray;
  margin-top: 5%;

  h3 {
    margin: 3.5% 0;
  }

  h4 {
    margin-top: 15px;
  }
}

@media all and (max-width: 550px)  { 
  .related-posts {
    .size-1of2 { width: 100%; }
  }
}

